* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background-image: url("../images/fondo.jpg");
    background-position-y: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    font-size: 60px;
    color: #94DFFF;
  }
  
  .btn {
    margin: 20px auto;
    width: 380px;
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    background-color:#DD68E5;
    transition: all 0.3s ease 0s;
  }
  
  .btn:hover {
    background-color: #DD68E5;
  }
  
  .container {
    margin: 125px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }