* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #DCF2FC;
  padding: 0 30px 0 15px;
  font-family: Lucida Sans;
  width: 100%;
  height: 66px;
  align-items: center;
}

.logo {
  width: 80px;
  height: 65px;
}

body {
  font-family: Arial;
  background-image: url("../images/fondo.jpg");
  background-position-y: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  color: #94DFFF;
}

h2 {
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  color: #94DFFF;
}

p, label {
  font-size: 16px;
  color: black;
}

.btn {
  margin: 10px auto;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #DD68E5;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #DD68E5;
  color: black;
}

.btnBack{
  margin: 10px auto;
  width: 50%;
  height: 40px;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #DD68E5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
}

.btnBack:hover {
  background-color: #DD68E5;
  color: black;
}

.container {
  margin: 105px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.containerRight{
  float: right;
  align-items: left;
  margin-left: 1150px;
  
}

.group {
  width: 380px;
  height: 130px;
  margin: 30px auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px 20px 20px 20px;
}

.group p {
  margin: 10px 30px 35px 30px;
}

.image {
  width: 200px;
  height: 85px;
}

.inputDiv {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 16px 0;
  padding: 12px 0;
  border-bottom: 3px solid #d9d9d9;
}

.inputDiv div {
  height: 40px;
  margin-top: 20px;
}

.inputDiv h4 {
  position: absolute;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.input {
  position: absolute;
  letter-spacing: 0.1px;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border: none;
  left: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #555555;
  font-family: Lucida Sans;
  transition: 0.3s;
}

select {
  position: absolute;
  letter-spacing: 0.1px;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: bolder;
}

.input:focus {
  border-bottom: 3px solid #2FBCF8;
}

select:focus {
  border-bottom: 3px solid #2FBCF8;
}

footer {
  background-color: purple;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
